<div>
    <mat-toolbar>
      <div
      fxLayout="row" 
      fxFlex="100">
      <div
        fxLayout="row" 
        fxLayoutAlign="end"
        fxFlex="20">
        <div>
          <mat-icon>
            <img src="../../../assets/Images/open-book-svgrepo-com (1).svg" />
          </mat-icon>
        </div>
        <div>
          Book Store
        </div>
      </div>
      <div 
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlex="60"   
        >
        <input 
          fxHide.xs=true 
          fxHide.sm=true 
          type="search" 
          [(ngModel)]="search"
          placeholder="Search" 
          (keyup)="updateText()"
          class="search"
        >
        <input 
          fxHide.md=true 
          fxHide.xl=true 
          fxHide.lg=true 
          fxHide.xs=true
          type="search" 
          [(ngModel)]="search"
          placeholder="Search"
          (keyup)="updateText()" 
          class="search search-md-xl"
        >
        <div fxLayout="row"
        fxLayoutAlign="space-between center">
          <div>
          <mat-icon 
              *ngIf="view"
              class="shoping-cart"
              routerLink="/dashboard/cart" 
              routerLinkActive="cart"
              matBadge="{{cart?.length}}" 
              matBadgeColor="warn">shopping_cart
          </mat-icon>
        </div>
          <div 
          *ngIf="!view"
          fxLayout="row" 
          fxLayoutAlign="center center">
          <button class="edit">
          <mat-icon
          (click)="openDialog()" 
          class="shoping-cart">
            add
          </mat-icon>
        </button>
          <div class="book">
              Book
          </div>         
          </div>
          <div>
            <mat-icon 
                class="account"
            >account_circle
            </mat-icon>
          </div>
        </div>
    </div>
      </div>
    </mat-toolbar>  
        <router-outlet></router-outlet>
  </div>
 