<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar 
          class="example-toolbar"
          >
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-icon>
        <img src="../../../assets/Images/open-book-svgrepo-com (1).svg" />
      </mat-icon>
      <h1 class="example-app-name">Book Store</h1>
      <div >
        <input 
          fxHide.xs=true 
          fxHide.sm=true 
          type="search" 
          [(ngModel)]="search"
          placeholder="Search" 
          class="search"
        >
        <input 
          fxHide.md=true 
          fxHide.xl=true 
          fxHide.lg=true 
          type="search" 
          [(ngModel)]="search"
          placeholder="Search" 
          class="search search-md-xl"
        >
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <div class="menu-icon">
            <mat-list-item >
              <mat-icon mat-raised-button>menu_book
              </mat-icon>
              <div>Books</div>
            </mat-list-item>
          </div>
          <div class="menu-icon">
            <mat-list-item>
              <mat-icon mat-raised-button>shopping_cart
              </mat-icon>
              <div>Cart</div>
            </mat-list-item>
          </div>
          <div class="menu-icon">
            <mat-list-item >
              <mat-icon mat-raised-button>list_alt
              </mat-icon>
              <div>Wish List</div>
            </mat-list-item>
          </div>
          <div class="menu-icon">
            <mat-list-item >
              <mat-icon mat-raised-button>delete
              </mat-icon>
              <div>Deleted Cart</div>
            </mat-list-item>
          </div>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
 