$ToolBarbg : #A03037 ;

  @mixin icon($margin,$iconColor) {
    margin-left: $margin;
    -webkit-text-fill-color:$iconColor;
  }

  mat-toolbar{
    background-color: $ToolBarbg;
  }
  .bookstore-text{
    color: whitesmoke;
  }
  .search{
    width: 480px;
    height: 36px;
    padding-left: 30px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
  }
  .search-xs{
    width: 140px;
  }
  .img{
    width: 26px;
    @include icon(5px,whitesmoke);
    outline: none;
    cursor: pointer;
  }
  button{
    padding: 0px;
  }
  .sticky {
    position: fixed;
    top: 0;
    z-index: 5;
  }
  .allign{
    margin-top: 10px;
  }