$ToolBarbg : #960000 ;

  mat-toolbar{
    background-color: $ToolBarbg;
  }
  .menu-icon{
    margin-left: 8px;
  }
  .search{
    margin-left: 50px;
    height: 35px;
    width: 500px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    outline: none;
  }
  .search-md-xl{
    margin-left: 50px;
    width: 300px;
  }
  .shoping-cart{
    margin-left: 50px;
    -webkit-text-fill-color:rgb(255, 255, 255);
  }
  .account{
    -webkit-text-fill-color:rgb(255, 255, 255);
  }
  .book
  {
    font-size: smaller;
    color: whitesmoke;
    font-weight: 500;
  }
  .edit{
    outline: none;
    background-color: transparent;
    border: transparent;
}