<div
    *ngIf="!view"
    fxLayoutAlign="start start">
<button 
    class="add-to-cart"
    mat-raised-button 
    fxLayoutAlign="center center"
    (click)="addToCart()"
    >ADD TO CART
</button>
<button 
    class="add-to-cart wishlist"
    mat-raised-button 
    fxLayoutAlign="center center"
    (click)="addToWishList()"
>WISH LIST
</button>
</div>
<div
    *ngIf="view"
    fxLayoutAlign="start start">
<button 
    class="add-to-cart"
    mat-raised-button 
    fxLayoutAlign="center center"
    (click)="openLabelDialog()"
    >Edit Book
</button>
<button 
    class="add-to-cart wishlist"
    mat-raised-button 
    fxLayoutAlign="center center"
    (click)="addToWishList()"
>Delete Book
</button>
</div>