.add-to-cart{
    width: 120px;
    height: 30px;
    margin: 10px;
    font-weight: 200;
    font-size: small;
    background-color: #960000;
    color: honeydew ;
}

.wishlist{
    border : solid 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8) ;
}