@import "../dashboard/dashboard.component.scss";
$bordercolor: rgb(197, 196, 196);
@mixin table($paddingSize) {
    padding-bottom: $paddingSize;
  }
@mixin icon() {
    background: transparent;
    outline: none;
    border: none;
}
@mixin show($width,$height) {
    width: $width; 
    height: $height;
}
.body {
    margin-top: 100px;
}
.head{
    @include table(20px);
}
.table-body{
    @include table(10px);
}
table, td {
    border: 1px solid $bordercolor;
    border-collapse: collapse;
    font-size: large;
    overflow: auto;
}
th, td {
    padding: 5px 5px;
    text-align: center;    
}
mat-icon{
    cursor: pointer;
}
.demo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    @include show(50px,70px);
    position: relative;
    align-content: center;
}
.icon{
    @include icon();
}
.profile{
    @include show(25px,25px);
    cursor: pointer;
}