<div 
    fxLayout="column" 
    fxLayoutAlign="center center">
    <div 
        class="layout-open">  
        <div
            class="cart-myCart" 
            fxLayout="row" 
            fxLayoutAlign="space-between center" >
            <div>
                My WishList
            </div>
        </div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="start start">
            <div>
                <img 
                mat-card-image 
                class="img"
                src = "{{ book.image }}" 
                alt="Photo of a {{ book.bookName }}">
            </div>
            <div class="book-name">
                <div >{{ book.bookName }}</div>
                <div class="book-author">by  {{ book.authorName }}</div>
                <div class="book-price"> Rs. {{ book.price }}</div>
                    <div 
                    fxLayout="row" 
                    fxLayoutAlign="start center" >
                    <button 
                        class="remove" 
                        mat-raised-button 
                        color="warn"
                        fxLayoutAlign="center center"
                        (click)="deleteCart()"
                        >REMOVE
                    </button>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="end end">
            <button 
                class="place-order" 
                mat-raised-button 
                color="primary"
                fxLayoutAlign="center center"
                (click)="moveTOCart()"
                >Move To Cart
            </button>
        </div>
    </div>
</div>